<VirtualHost *:80>
  ServerName {{ env.OSEM_HOSTNAME }}
  ServerAdmin {{ env.OSEM_EMAIL_ADDRESS }}
  DocumentRoot {{ git_dest }}/public
  PassengerUser {{ run_group }}
  PassengerGroup {{ run_group }}
  RailsEnv {{ RAILS_ENV }}
  <Directory {{ git_dest }}/public>
    Allow from all
    Options -MultiViews
    Require all granted
  </Directory>
</Virtualhost>
